<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Googol Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" type="text/css" href="css/login.css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

    <script>
        // check if url has an error like this http://localhost:8080/login?error=true. Keep looking for the error param
        // if it exists, show an alert
        window.onload = function () {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');
            if (error) {
                alert("Invalid username or password");
            }
        }
    </script>
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/login}" th:object="${FormRequest}" method="post" id="loginForm">
    <img class="mb-4"
         src="https://www.seekpng.com/png/full/10-103647_minecraft-creeper-face-icons-png-minecraft-creeper-head.png"
         alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <input type="email" th:field="*{username}" class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" th:field="*{password}" class="form-control" placeholder="Password" required="">

    <div class="d-flex flex-column align-items-center justify-content-center">
        <button class="btn btn-lg btn-success btn-block mt-2" type="submit">Sign in</button>
        <p class="mt-4 text-muted f-sm">© 2023 Minecraft Rodrigo Edu Fixe</p>
        <!-- back button -->
        <a type="button" class="btn btn-link btn-lg mx-1 w-75 mt-2" th:href="@{/}">Back</a>
    </div>
</form>

</body>
</html>