<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search URLs - Googol Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" type="text/css" href="css/searchlinks.css" th:href="@{/css/searchlinks.css}"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        // check if we have url parameter error=true. Keep looking for the error param
        // if it exists, show an alert
        window.onload = function () {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');
            const url = urlParams.get('url');


            if (error) {
                alert("Couldn't fulfill your request.");
            } else {
                const success = urlParams.get('success');
                if (success) {
                    alert("URL indexed successfully.");
                }
            }
            // change the main-text to the search query
            if (url) {
                document.getElementById("main-text").innerHTML = "Links pointing to \"" + url + "\"";
            }
        }

        function genURLback() {
            // go back using history
            window.history.back();
        }

    </script>
</head>
<body>
<div class="main-rect my-auto d-flex align-middle flex-column h-100 justify-content-center">
    <h1 class="pb-1 px-md-3 mx-auto text-center text-nowrap">Googol App</h1>
    <h2 class="pb-1 mx-auto text-center">Search Engine</h2>
    <img class="mb-4 mx-auto" src="https://i.pinimg.com/736x/07/b3/ac/07b3ac2fb39db7554a1badbc0c9d94a8--minecraft-quilt-minecraft-room.jpg" alt=""
         width="100" height="100">
    <h5 class="pb-3 mx-auto text-center font-weight-light font-italic" id="main-text">Loading...</h5>
    <!-- Place to index a new URL -->
    <div class="main-menu-row-input mb-2 mx-1">
        <!-- I have two models in Springboot. Both are an HashMap<String, ArrayList<String>>
           One of each is always null and the other dont.

           Using th show me all the keys and the respective objects in the ArrayList of the HashMap that is not null
          -->
        <tr th:each="pointer : ${pointers}">
            <p>
                <a th:href="${pointer}" th:text="${pointer}"></a>
            </p>
        </tr>

    </div>
    <div class="d-flex flex-row align-middle justify-content-center">
        <!-- TODO: Call the logout route -->
        <a type="button" class="btn btn-light btn-lg mx-1 w-75" th:onclick="genURLback()">Back</a>
    </div>
</div>
</body>
</html>